/******************************/
/********** Set-Up **********/
/******************************/
:root {
    --hex-color1: rgba(247, 216, 87, 0.8);
    --hex-color2: rgba(245, 200, 13, 1);
    --hex-color3: rgba(194, 158, 10, 0.8);

    --numberToken-color1: rgba(240, 240, 230, .7);
    --numberToken-color1: rgba(255, 228, 196, .7);
   
    --ocean-color1: rgba(123, 201, 236, 0.8);
    --ocean-color2: rgba(52, 178, 234, 1);
    --ocean-color3: rgba(41, 139, 183, .8);
    --ocean-color4: rgba(56, 91, 106, .8);
    --ocean-color5: rgba(24, 81, 106, .8);

    --road-color1: rgba(117, 103, 41, 0.8);
    --road-color2: rgba(117, 96, 6, 0.8);

    --settlement-color1: rgba(110, 118, 126, 0.8) ;
    /* --settlement-color2: rgba(); */

    --player-0-color1: rgba(190, 0, 16, 1); /*#BE0010*/
    --player-0-color2: rgb(151, 3, 15); /*#BE0010*/
    --player-0-color3: rgb(122, 2, 12); /*#BE0010*/
    --player-1-color1: rgba(8, 69, 123, 1); /*#08457B*/
    --player-1-color2: rgb(6, 55, 97); /*#08457B*/
    --player-1-color3: rgb(4, 35, 61); /*#08457B*/
    --player-2-color1: rgba(25, 158, 60, 1); /*#199E3C*/
    --player-2-color2: rgb(17, 112, 42); /*#199E3C*/
    --player-2-color3: rgb(10, 70, 26); /*#199E3C*/
    --player-3-color1: rgba(239, 222, 202, 1); /*#EFDECA*/
    --player-3-color2: rgb(179, 165, 150); /*#EFDECA*/
    --player-3-color3: rgb(134, 126, 115); /*#EFDECA*/

    --dice-color1: rgb(229,0,40); /*#E50028*/
    --dice-color2: rgb(251,236,59); /*#FBEC3B*/

    --color-white: rgba(255, 255, 255, 1);
    --color-black: rgba(0, 0, 0, 1);
    --color-black-transparent: rgba(0, 0, 0, 0.5);
    --background-color-light: rgba(207, 227, 244, .7);
    --background-color-medium: rgba(83, 83, 83, 0.5);

    --border-radius-small: .3rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: minion-pro, Arial;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
    color: var(--color-white);
}

/******************************/
/********** Reusable **********/
/******************************/
h2 {
    font-family: minion-pro, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.4rem;
}

.btn {
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10rem;
    color: var(--color-black);
    box-shadow: .2rem .2rem .2rem var(--color-black);
    background-color: var(--road-color2);
    padding: .5rem;
    transition: all .2s;
}

    .btn:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(var(--color-black),.2);
    }

        .btn:hover::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }

.btn div {
    height: 100%;
    width: 100%;
}

/******************************/
/********** Header **********/
/******************************/
header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "logo title nav";
    height: 5vh;
    background-color: var(--dice-color1);
    background-image: linear-gradient(to bottom, var(--background-color-medium), var(--color-black-transparent));
}

    header img {
        grid-area: logo;
        height: 90%;
        width: auto;
    }

    header h1 {
        grid-area: title;
        color: var(--dice-color2);
        text-align: center;
    }

    header ul {
        grid-area: nav;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        header ul li {
            display: inline-block;
            text-decoration: none;
            font-size: 1.2rem;
            margin-right: .5rem;
        }

            header ul li a:link,
            header ul li a:visited {
                text-decoration: none;
                color: var(--dice-color2);
                text-transform: uppercase;
                padding: 0 .1rem;
                transition: all .2s;
            }

            header ul li a:hover,
            header ul li a:active {
                text-decoration: none;
                border-bottom: 1px solid var(--dice-color2);
            }

/******************************/
/********** Main **********/
/******************************/
main {
    height: 85vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr, 4fr, 4fr, 1fr;
    grid-template-areas: "player-0 controls controls player-1"
                         "player-0 boardgame boardgame player-1"
                         "player-2 boardgame boardgame player-3"
                         "player-2 bank building-costs player-3";
}

/********** Boardgame Section **********/
#boardgame {
    grid-area: boardgame;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: "text"
                         "hexes";
    background-color: var(--ocean-color2);
}

.text-box {
    grid-area: text;
    text-align: center;
    height: 10rem;
    width: 100%;
    overflow-y: scroll;
    border-radius: var(--border-radius-small);
    background-color: var(--background-color-medium);
    font-size: 1.2rem;
    padding-top: .5rem;
}

.hexes {
    grid-area: hexes;
    justify-self: center;
    align-self: center;
    position: relative; /*test*/
    height: 30rem; /*was 31.2rem*/
    width: 36rem;
    background-color: var(--ocean-color2);
}

.card img {
    height: 6rem;
    width: auto;
    border-radius: .3rem;
}

.card ~ .text {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: .3rem;
}

.dcs .text {
    padding-bottom: .2rem;
}

/*Changes the position of each row -- moves thema ll up so every div connects*/
#row1 {
    position: absolute;
    top: 0;
    /* left: 7rem; */
    z-index: 2;
}
#row2 {
    position: absolute;
    top: 1rem;
    /* left: 7rem; */
    z-index: 1;
}
#row3 {
    position: absolute;
    top: 5.3rem;
    /* left: 3.5rem; */
    z-index: 2;
}
#row4 {
    position: absolute;
    top: 6.2rem;
    /* left: 3.5rem; */
    z-index: 1;
}
#row5 {
    position: absolute;
    top: 10.4rem;
    z-index: 2;
}
#row6 {
    position: absolute;
    top: 11.4rem;
    z-index: 1;
}
#row7 {
    position: absolute;
    top: 15.6rem;
    z-index: 2;
}
#row8 {
    position: absolute;
    top: 16.6rem;
    /* left: 3.5rem; */
    z-index: 1;
}
#row9 {
    position: absolute;
    top: 20.8rem;
    /* left: 3.5rem; */
    z-index: 2;
}
#row10 {
    position: absolute;
    top: 21.8rem;
    /* left: 7rem; */
    z-index: 1;
}
#row11 {
    position: absolute;
    top: 26rem;
    /* left: 7rem; */
    z-index: 2;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hex {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "fullHex";
    justify-content: center;
    /* align-items: center; */
    height: 6rem;
    width: 6rem;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-color: var(--hex-color2);
}

.hex img {
    grid-area: fullHex;
    height: 100%;
    width: 100%;
    z-index: 2;
    pointer-events: none;
}

.hex div {
    grid-area: fullHex;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    margin: auto;
    background-color: transparent;
    border: 1px solid var(--color-black);
    border-radius: 10rem;
    box-shadow: .2rem .2rem .2rem rgba(0, 0, 0, .7);
    color: var(--color-black);
    z-index: 2;
    pointer-events: none;
}

.hex div h3 {
    font-size: 1.2rem;
}

.hex div img {
    height: 80%;
    width: auto;
}

.road--vertical {
    height: 6rem;
    width: 1rem;
    -webkit-clip-path: polygon(0 25%, 100% 25%, 100% 75%, 0 75%);
    clip-path: polygon(0 25%, 100% 25%, 100% 75%, 0 75%);
    background-color: var(--road-color1);
    opacity: .6;
    transition: all .1s;
}

.road--left {
    height: 2.7rem;
    width: 2.5rem;
    -webkit-clip-path: polygon(0 55.5%, 100% 0, 100% 44.4%, 0% 100%);
    clip-path: polygon(0 55.5%, 100% 0, 100% 44.4%, 0% 100%);
    background-color: var(--road-color1);
    opacity: .6;
    transition: all .1s;
}

.road--right {
    height: 2.7rem;
    width: 2.5rem;
    -webkit-clip-path: polygon(0 0, 100% 55.55%, 100% 100%, 0 44.44%);
    clip-path: polygon(0 0, 100% 55.55%, 100% 100%, 0 44.44%);
    background-color: var(--road-color1);
    opacity: .6;
    transition: all .1s;
}

.settlement--side {
    height: 2.7rem;
    width: 1rem;
    -webkit-clip-path: polygon(0 55.55%, 100% 55.55%, 100% 100%, 0 100%);
    clip-path: polygon(0 55.55%, 100% 55.55%, 100% 100%, 0 100%);
    background-color: var(--settlement-color1);
    opacity: .6;
    transition: all .1s;
    font-size: .8rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.settlement--top {
    height: 2.7rem;
    width: 1rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 44.44%, 0 44.44%);
    clip-path: polygon(0 0, 100% 0, 100% 44.44%, 0 44.44%);
    background-color: var(--settlement-color1);
    opacity: .6;
    transition: all .1s;
    font-size: .8rem;
    text-align: center;
}

.road--vertical:hover,
.road--left:hover,
.road--right:hover,
.settlement--side:hover,
.settlement--top:hover {
    opacity: 1;
    background-color: var(--color-black);
}

.ocean__full {
    height: 6rem;
    width: 6rem;
    background-color: transparent;
}

.ocean__road {
    height: 6rem;
    width: 1rem;
    background-color: transparent;
}

.ocean__full--short {
    height: 2.7rem;
    width: 6rem;
    background-color: transparent;
}

.ocean__road--short {
    height: 2.7rem;
    width: 1rem;
    background-color: transparent;
}

.ocean__half {
    height: 6rem;
    width: 3.5rem;
    background-color: transparent;
}

.ocean__half--short {
    height: 2.7rem;
    width: 3.5rem;
    background-color: transparent;
}

/********** Controls Section **********/
#controls {
    grid-area: controls;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    grid-template-areas: "dice buttons";
    background-color: var(--road-color1);
    border-radius: var(--border-radius-small);
}

#dice {
    grid-area: dice;
    display: flex;
    justify-content: center;
    align-items: center;
}

    #dice div {
        display: inline-block;
        margin: .5rem;
    }

    .dice img {
        height: 3rem;
        width: 3rem;
        border-radius: var(--border-radius-small);
    }

.controls__btns {
    grid-area: buttons;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "btns";
}
    #new-game {
        grid-area: btns;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .initial-player-creation {
        grid-area: btns;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "text"
                             "buttons";
        justify-content: center;
        align-items: center;
        visibility: hidden;
    }

        .initial-player-creation p {
            grid-area: text;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .initial-player-creation .num_players {
            grid-area: buttons;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }

            input {
                height: 3rem;
                width: 3rem;
                border-radius: 10rem;
                border: 1px solid var(--color-black-transparent);
                background-color: var(--dice-color1);
                background-image: radial-gradient(var(--background-color-medium), var(--color-black-transparent));
                color: var(--dice-color2);
                box-shadow: .2rem .2rem .2rem var(--color-black);
            }

                input:hover {
                    transform: translateY(-3px);
                    box-shadow: 0 1rem 2rem rgba(var(--color-black),.2);
                }

                    input:hover::after {
                        transform: scaleX(1.4) scaleY(1.6);
                        opacity: 0;
                    }


    #player__actions {
        grid-area: btns;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas: "road sett city trade dc end";
        visibility: hidden;
    }

        #player__actions div:not(:first-child) {
            border: 1px solid rgba(0, 0, 0, .7);
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

            #player_actions div:not(.card) img {
                height: 90%;
                width: auto;
            }

        #buildRoad {
            grid-area: road;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: "btn";
            font-size: 1.4rem;
            justify-content: center;
            align-items: center;
            border: 1px solid var(--color-black);
            text-align: center;
        }

            #buildRoad .road--pic {
                grid-area: btn;
                width: 100%;
            }

            #buildRoad div {
                grid-area: btn;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            #buildCity .city--pic {
                padding-top: 1.5rem;
            }

        #buildSettlement {
            grid-area: sett;
        }

        #buildCity {
            grid-area: city;
        }

        #trade {
            grid-area: trade;
        }

        #buyDevelopmentCard {
            grid-area: dc;
        }

        #endTurn {
            grid-area: end;
        }


    #cancel {
        grid-area: btns;
        justify-self: center;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        height: 100%;
        width: 9rem;
    }
/********** Players Section **********/
.player {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1.5rem, 1rem, 2rem, 1.5rem, 1rem, repeat(2, 2rem);
    grid-column-gap: .5rem;
    grid-template-areas: "name name"
                        "vp vp"
                        "road army"
                        "pieces pieces"
                        "totalResource totalResource"
                        "resource resource"
                        "dc dc";
    align-items: center;
    justify-items: center;
    background-color: var(--player-0-color1);
    border-radius: var(--border-radius-small);
    font-size: 1.2rem;
}

.player .name {
    grid-area: name;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.5rem;
    background-image: linear-gradient(to bottom, var(--background-color-medium), var(--color-black-transparent));
}

.player .vp {
    grid-area: vp;
    padding: .5rem 0;
}

.player .road-card {
    grid-area: road;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: .5rem;
    grid-template-areas: "RoadText RoadImg";
    justify-items: center;
    align-items: center;
}
    .player .road-card .SProad--num {
        grid-area: RoadText;
        align-self: right;
        text-align: right;
    }

    .player .road-card .road--card {
        grid-area: RoadImg;
    }

        .player .road-card .road--card img {
            height: 10rem;
            width: auto;
            opacity: 0.5;
        }

.player .army-card {
    grid-area: army;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: .5rem;
    grid-template-areas: "ArmyImg ArmyText";
    justify-items: center;
    align-items: center;
}
    .player .army-card .army--card {
        grid-area: ArmyImg;
    }

        .player .army-card .army--card img {
            height: 10rem;
            width: auto;
            opacity: 0.5;
        }

    .player .army-card .army--num {
        grid-area: ArmyText;
        align-self: left;
    }

.player .pieces {
    grid-area: pieces;
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(3, 3rem);
    grid-template-rows: 1rem 1rem 3rem;
    grid-column-gap: 2rem;
    grid-template-areas: "piecesTotal piecesTotal piecesTotal"
                         "roadNum settNum cityNum"
                         "road sett city";
    padding: .5rem 0;
}

    .player .pieces .pieces--num {
        grid-area: piecesTotal;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        height: 1.2rem;
        padding-bottom: .3rem;
        /* background-image: linear-gradient(to bottom, var(--background-color-light), var(--color-black-medium));
        box-shadow: inset .2rem .2rem .2rem var(--color-black-transparent); */
    }

    .player .pieces .road--pic {
        grid-area: road;
        margin-bottom: 1rem;
    }

    .player .pieces .road--num {
        grid-area: roadNum;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .player .pieces .settlement--pic {
        grid-area: sett;
        margin-bottom: 1rem;
    }

    .player .pieces .settlement--num {
        grid-area: settNum;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .player .pieces .city--pic {
        grid-area: city;
        margin-bottom: 1rem;
    }

    .player .pieces .city--num {
        grid-area: cityNum;
        display: flex;
        justify-content: center;
        align-items: center;
    }

.player .resource--num {
    grid-area: totalResource;
}

.player .resources {
    grid-area: resource;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 1rem;
    grid-template-rows: 1fr;
    grid-template-areas: "lumber brick wool grain ore";
}

    .player .resources .lumber--pic {
        grid-area: lumber;
    }

    .player .resources .lumber--num {
        grid-area: lumber;
    }

    .player .resources .brick--pic {
        grid-area: brick;
    }

    .player .resources .brick--num {
        grid-area: brick;
    }

    .player .resources .wool--pic {
        grid-area: wool;
    }

    .player .resources .wool--num {
        grid-area: wool;
    }

    .player .resources .grain--pic {
        grid-area: grain;
    }

    .player .resources .grain--num {
        grid-area: grain;
    }

    .player .resources .ore--pic {
        grid-area: ore;
    }

    .player .resources .ore--num {
        grid-area: ore;
    }

.player .dcs {
    grid-area: dc;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "dcs"
}

    .player .dcs .dc--pic {
        grid-area: dcs;
    }

    .player .dcs .dc--num {
        grid-area: dcs;
        color: var(--color-black);
    }

/********** Player Section - Pieces **********/
.road--pic {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
    -webkit-clip-path: polygon(55% 0, 85% 0, 45% 100%, 15% 100%);
    clip-path: polygon(55% 0, 85% 0, 45% 100%, 15% 100%);
    background-image: radial-gradient(var(--background-color-light), rgba(0, 0, 0, .7));
    font-size: 1rem;
}

.settlement--pic {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
    -webkit-clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    background-image: radial-gradient(var(--background-color-light), rgba(0, 0, 0, .7));
    font-size: 1rem;
}

.city--pic {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
    -webkit-clip-path: polygon(50% 40%, 100% 0, 82% 100%, 18% 100%, 0 0);
    clip-path: polygon(50% 40%, 100% 0, 82% 100%, 18% 100%, 0 0);
    background-image: radial-gradient(var(--background-color-light), rgba(0, 0, 0, .7));
    font-size: 1rem;
}

/********** Player 0 Section **********/
#player-0 {
    grid-area: player-0;
    background-color: var(--player-0-color1);
}

#player-0 .pieces .road--pic,
#player-0 .pieces .settlement--pic,
#player-0 .pieces .city--pic {
    height: 3rem;
    width: auto;
    background-color: linear-gradient(to bottom, var(--player-0-color2), var(--player-0-color3));
}

/********** P2a, var(--player-0-color3)yer 1 Section **********/
#player-1 {
    grid-area: player-1;
    background-color: var(--player-1-color1);
}

#player-1 .pieces .road--pic,
#player-1 .pieces .settlement--pic,
#player-1 .pieces .city--pic {
    height: 3rem;
    width: auto;
    background-color: linear-gradient(to bottom, var(--player-1-color2), var(--player-1-color3));
}

/********** Player 2 Section **********/
#player-2 {
    grid-area: player-2;
    background-color: var(--player-2-color1);
}

#player-2 .pieces .road--pic,
#player-2 .pieces .settlement--pic,
#player-2 .pieces .city--pic {
    height: 3rem;
    width: auto;
    background-color: linear-gradient(to bottom, var(--player-2-color2), var(--player-2-color3));
}

/********** Player 3 Section **********/
#player-3 {
    grid-area: player-3;
    background-color: var(--player-3-color1);
    color: var(--color-black);
}

#player-3 .pieces .road--pic,
#player-3 .pieces .settlement--pic,
#player-3 .pieces .city--pic {
    height: 3rem;
    width: auto;
    background-color: linear-gradient(to bottom, var(--player-3-color2), var(--player-3-color3));
}

/********** Cheat Sheet Section **********/
#building-costs {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: building-costs;
    background-color: var(--road-color1);
}

#building-costs img {
    height: 10rem;
    width: auto;
}

/********** Bank Section **********/
#bank {
    grid-area: bank;
    display: block;
    background-color: var(--ocean-color5);
    text-align: center;
}

#bank h3 {
    background-image: linear-gradient(to bottom, var(--background-color-medium), var(--color-black-transparent));
    margin-bottom: .5rem;
}

#bank .resources {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 1rem;
    grid-template-rows: 1fr;
    grid-template-areas: "bankLumber bankBrick bankWool bankGrain bankOre";
    margin: 0 .5rem;
}

    #bank .resources .lumber--pic {
        grid-area: bankLumber;
    }

    #bank .resources .lumber--num {
        grid-area: bankLumber;
    }

    #bank .resources .brick--pic {
        grid-area: bankBrick;
    }

    #bank .resources .brick--num {
        grid-area: bankBrick;
    }

    #bank .resources .wool--pic {
        grid-area: bankWool;
    }

    #bank .resources .wool--num {
        grid-area: bankWool;
    }

    #bank .resources .grain--pic {
        grid-area: bankGrain;
    }

    #bank .resources .grain--num {
        grid-area: bankGrain;
    }

    #bank .resources .ore--pic {
        grid-area: bankOre;
    }

    #bank .resources .ore--num {
        grid-area: bankOre;
    }


/******************************/
/********** Footer **********/
/******************************/
footer {
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    padding: 30px;
    font-size: 80%;
    background: var(--dice-color1);
    background-image: linear-gradient(to top, var(--background-color-medium), var(--color-black-transparent));
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: var(--dice-color2);
    transition: color 0.2s;
    font-size: 1.6rem;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: var(--device-color2);
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 2.6rem;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #00aced;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.ion-social-instagram:hover {
    color: #517fa4;
}