/******************************/
/********** Set-Up **********/
/******************************/
:root {
    --hex-color1: rgba(247, 216, 87, 0.8);
    --hex-color2: rgba(245, 200, 13, 1);
    --hex-color3: rgba(194, 158, 10, 0.8);
   
    --ocean-color1: rgba(123, 201, 236, 0.8);
    --ocean-color2: rgba(52, 178, 234, 1);
    --ocean-color3: rgba(41, 139, 183, .8);
    --ocean-color4: rgba(56, 91, 106, .8);
    --ocean-color5: rgba(24, 81, 106, .8);

    --road-color1: rgba(117, 103, 41, 0.8);
    --road-color2: rgba(117, 96, 6, 0.8);

    --settlement-color1: rgba(110, 118, 126, 0.8) ;
    /* --settlement-color2: rgba(); */

    --player1-color: rgba(190, 0, 16, 1); /*#BE0010*/
    --player2-color: rgba(8, 69, 123, 1); /*#08457B*/
    --player3-color: rgba(25, 158, 60, 1); /*#199E3C*/
    --player4-color: rgba(239, 222, 202, 1); /*#EFDECA*/
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    
}

/******************************/
/********** Reusable **********/
/******************************/


/******************************/
/********** Header **********/
/******************************/


/******************************/
/********** Main **********/
/******************************/
main {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr;
    grid-template-rows: 1fr, 4fr, 4fr, 1fr;
    grid-template-areas: "player-1 controls controls player-2"
                         "player-1 boardgame boardgame player-2"
                         "player-3 boardgame boardgame player-4"
                         "player-3 bank cheat-sheet player-4";
}

/********** Boardgame Section **********/
#boardgame {
    grid-area: boardgame;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--ocean-color2);
}

.hexes {
    position: relative; /*test*/
    height: 30rem; /*was 31.2rem*/
    width: 36rem;
    background-color: var(--ocean-color2);
}

/*Changes the position of each row -- moves thema ll up so every div connects*/
#row1 {
    position: absolute;
    top: 0;
    /* left: 7rem; */
    z-index: 2;
}
#row2 {
    position: absolute;
    top: 1rem;
    /* left: 7rem; */
    z-index: 1;
}
#row3 {
    position: absolute;
    top: 5.3rem;
    /* left: 3.5rem; */
    z-index: 2;
}
#row4 {
    position: absolute;
    top: 6.2rem;
    /* left: 3.5rem; */
    z-index: 1;
}
#row5 {
    position: absolute;
    top: 10.4rem;
    z-index: 2;
}
#row6 {
    position: absolute;
    top: 11.4rem;
    z-index: 1;
}
#row7 {
    position: absolute;
    top: 15.6rem;
    z-index: 2;
}
#row8 {
    position: absolute;
    top: 16.6rem;
    /* left: 3.5rem; */
    z-index: 1;
}
#row9 {
    position: absolute;
    top: 20.8rem;
    /* left: 3.5rem; */
    z-index: 2;
}
#row10 {
    position: absolute;
    top: 21.8rem;
    /* left: 7rem; */
    z-index: 1;
}
#row11 {
    position: absolute;
    top: 26rem;
    /* left: 7rem; */
    z-index: 2;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hex {
    /* position: relative; */
    height: 6rem;
    width: 6rem;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-color: var(--hex-color2);
}

.road--vertical {
    height: 6rem;
    width: 1rem;
    -webkit-clip-path: polygon(0 25%, 100% 25%, 100% 75%, 0 75%);
    clip-path: polygon(0 25%, 100% 25%, 100% 75%, 0 75%);
    background-color: var(--road-color1);
    opacity: .6;
    transition: all .1s;
}

.road--left {
    height: 2.7rem;
    width: 2.5rem;
    -webkit-clip-path: polygon(0 55.5%, 100% 0, 100% 44.4%, 0% 100%);
    clip-path: polygon(0 55.5%, 100% 0, 100% 44.4%, 0% 100%);
    background-color: var(--road-color1);
    opacity: .6;
    transition: all .1s;
}

.road--right {
    height: 2.7rem;
    width: 2.5rem;
    -webkit-clip-path: polygon(0 0, 100% 55.55%, 100% 100%, 0 44.44%);
    clip-path: polygon(0 0, 100% 55.55%, 100% 100%, 0 44.44%);
    background-color: var(--road-color1);
    opacity: .6;
    transition: all .1s;
}

.settlement--side {
    height: 2.7rem;
    width: 1rem;
    -webkit-clip-path: polygon(0 55.55%, 100% 55.55%, 100% 100%, 0 100%);
    clip-path: polygon(0 55.55%, 100% 55.55%, 100% 100%, 0 100%);
    background-color: var(--settlement-color1);
    opacity: .6;
    transition: all .1s;
}

.settlement--top {
    height: 2.7rem;
    width: 1rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 44.44%, 0 44.44%);
    clip-path: polygon(0 0, 100% 0, 100% 44.44%, 0 44.44%);
    background-color: var(--settlement-color1);
    opacity: .6;
    transition: all .1s;
}

.road--vertical:hover,
.road--left:hover,
.road--right:hover,
.settlement--side:hover,
.settlement--top:hover {
    opacity: 1;
    background-color: var(--player1-color);
}

.ocean__full {
    height: 6rem;
    width: 6rem;
    background-color: transparent;
}

.ocean__road {
    height: 6rem;
    width: 1rem;
    background-color: transparent;
}

.ocean__full--short {
    height: 2.7rem;
    width: 6rem;
    background-color: transparent;
}

.ocean__road--short {
    height: 2.7rem;
    width: 1rem;
    background-color: transparent;
}

.ocean__half {
    height: 6rem;
    width: 3.5rem;
    background-color: transparent;
}

.ocean__half--short {
    height: 2.7rem;
    width: 3.5rem;
    background-color: transparent;
}

/********** Controls Section **********/
#controls {
    grid-area: controls;
    background-color: var(--road-color1);
}

/********** Player 1 Section **********/
#player-1 {
    grid-area: player-1;
    background-color: var(--player1-color);
}

/********** Player 2 Section **********/
#player-2 {
    grid-area: player-2;
    background-color: var(--player2-color);
}

/********** Player 3 Section **********/
#player-3 {
    grid-area: player-3;
    background-color: var(--player3-color);
}

/********** Player 4 Section **********/
#player-4 {
    grid-area: player-4;
    background-color: var(--player4-color);
}

/********** Cheat Sheet Section **********/
#cheat-sheet {
    grid-area: cheat-sheet;
    background-color: var(--road-color1);
}

/********** Bank Section **********/
#bank {
    grid-area: bank;
    background-color: var(--ocean-color5);
}


/******************************/
/********** Footer **********/
/******************************/