/******************************/
/********** Set-Up **********/
/******************************/
:root {
    --hex-color1: rgba(247, 216, 87, 0.8);
    --hex-color2: rgba(245, 200, 13, 1);
    --hex-color3: rgba(194, 158, 10, 0.8);

    --numberToken-color1: rgba(240, 240, 230, .7);
    --numberToken-color1: rgba(255, 228, 196, .7);
   
    --ocean-color1: rgba(123, 201, 236, 0.8);
    --ocean-color2: rgba(52, 178, 234, 1);
    --ocean-color3: rgba(41, 139, 183, .8);
    --ocean-color4: rgba(56, 91, 106, .8);
    --ocean-color5: rgba(24, 81, 106, .8);

    --road-color1: rgba(117, 103, 41, 0.8);
    --road-color2: rgba(117, 96, 6, 0.8);

    --settlement-color1: rgba(110, 118, 126, 0.8) ;
    /* --settlement-color2: rgba(); */

    --player-0-color1: rgba(190, 0, 16, 1); /*#BE0010*/
    --player-1-color1: rgba(8, 69, 123, 1); /*#08457B*/
    --player-2-color1: rgba(25, 158, 60, 1); /*#199E3C*/
    --player-3-color1: rgba(239, 222, 202, 1); /*#EFDECA*/

    --color-white: rgba(255, 255, 255, 1);
    --color-black: rgba(0, 0, 0, 1);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: minion-pro, Arial;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
    color: var(--color-white);
}

/******************************/
/********** Reusable **********/
/******************************/
h2 {
    font-family: minion-pro, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.4rem;
}

/******************************/
/********** Header **********/
/******************************/
header {
    height: 10vh;
}

/******************************/
/********** Main **********/
/******************************/
main {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr;
    grid-template-rows: 1fr, 4fr, 4fr, 1fr;
    grid-template-areas: "player-0 controls controls player-1"
                         "player-0 boardgame boardgame player-1"
                         "player-2 boardgame boardgame player-3"
                         "player-2 bank cheat-sheet player-3";
    height: 80vh;
}

/********** Boardgame Section **********/
#boardgame {
    grid-area: boardgame;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--ocean-color2);
}

.hexes {
    position: relative; /*test*/
    height: 30rem; /*was 31.2rem*/
    width: 36rem;
    background-color: var(--ocean-color2);
}

.card img {
    height: 6rem;
    width: auto;
}

.card ~ .text {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: .3rem;
}

/*Changes the position of each row -- moves thema ll up so every div connects*/
#row1 {
    position: absolute;
    top: 0;
    /* left: 7rem; */
    z-index: 2;
}
#row2 {
    position: absolute;
    top: 1rem;
    /* left: 7rem; */
    z-index: 1;
}
#row3 {
    position: absolute;
    top: 5.3rem;
    /* left: 3.5rem; */
    z-index: 2;
}
#row4 {
    position: absolute;
    top: 6.2rem;
    /* left: 3.5rem; */
    z-index: 1;
}
#row5 {
    position: absolute;
    top: 10.4rem;
    z-index: 2;
}
#row6 {
    position: absolute;
    top: 11.4rem;
    z-index: 1;
}
#row7 {
    position: absolute;
    top: 15.6rem;
    z-index: 2;
}
#row8 {
    position: absolute;
    top: 16.6rem;
    /* left: 3.5rem; */
    z-index: 1;
}
#row9 {
    position: absolute;
    top: 20.8rem;
    /* left: 3.5rem; */
    z-index: 2;
}
#row10 {
    position: absolute;
    top: 21.8rem;
    /* left: 7rem; */
    z-index: 1;
}
#row11 {
    position: absolute;
    top: 26rem;
    /* left: 7rem; */
    z-index: 2;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hex {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "fullHex";
    justify-content: center;
    /* align-items: center; */
    height: 6rem;
    width: 6rem;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-color: var(--hex-color2);
}

.hex img {
    grid-area: fullHex;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.hex div {
    grid-area: fullHex;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    margin: auto;
    background-color: transparent;
    border: 1px solid var(--color-black);
    border-radius: 10rem;
    box-shadow: .2rem .2rem .2rem rgba(0, 0, 0, .7);
    color: var(--color-black);
    z-index: 2;
}

.hex div h3 {
    font-size: 1.2rem;
}

.hex div img {
    height: 80%;
    width: auto;
}

.road--vertical {
    height: 6rem;
    width: 1rem;
    -webkit-clip-path: polygon(0 25%, 100% 25%, 100% 75%, 0 75%);
    clip-path: polygon(0 25%, 100% 25%, 100% 75%, 0 75%);
    background-color: var(--road-color1);
    opacity: .6;
    transition: all .1s;
}

.road--left {
    height: 2.7rem;
    width: 2.5rem;
    -webkit-clip-path: polygon(0 55.5%, 100% 0, 100% 44.4%, 0% 100%);
    clip-path: polygon(0 55.5%, 100% 0, 100% 44.4%, 0% 100%);
    background-color: var(--road-color1);
    opacity: .6;
    transition: all .1s;
}

.road--right {
    height: 2.7rem;
    width: 2.5rem;
    -webkit-clip-path: polygon(0 0, 100% 55.55%, 100% 100%, 0 44.44%);
    clip-path: polygon(0 0, 100% 55.55%, 100% 100%, 0 44.44%);
    background-color: var(--road-color1);
    opacity: .6;
    transition: all .1s;
}

.settlement--side {
    height: 2.7rem;
    width: 1rem;
    -webkit-clip-path: polygon(0 55.55%, 100% 55.55%, 100% 100%, 0 100%);
    clip-path: polygon(0 55.55%, 100% 55.55%, 100% 100%, 0 100%);
    background-color: var(--settlement-color1);
    opacity: .6;
    transition: all .1s;
}

.settlement--top {
    height: 2.7rem;
    width: 1rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 44.44%, 0 44.44%);
    clip-path: polygon(0 0, 100% 0, 100% 44.44%, 0 44.44%);
    background-color: var(--settlement-color1);
    opacity: .6;
    transition: all .1s;
}

.road--vertical:hover,
.road--left:hover,
.road--right:hover,
.settlement--side:hover,
.settlement--top:hover {
    opacity: 1;
    background-color: var(--player-0-color1);
}

.ocean__full {
    height: 6rem;
    width: 6rem;
    background-color: transparent;
}

.ocean__road {
    height: 6rem;
    width: 1rem;
    background-color: transparent;
}

.ocean__full--short {
    height: 2.7rem;
    width: 6rem;
    background-color: transparent;
}

.ocean__road--short {
    height: 2.7rem;
    width: 1rem;
    background-color: transparent;
}

.ocean__half {
    height: 6rem;
    width: 3.5rem;
    background-color: transparent;
}

.ocean__half--short {
    height: 2.7rem;
    width: 3.5rem;
    background-color: transparent;
}

/********** Controls Section **********/
#controls {
    grid-area: controls;
    background-color: var(--road-color1);
}

/********** Players Section **********/

/********** Player 0 Section **********/
#player-0 {
    grid-area: player-0;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-template-areas: "name name name name name name name name name name"
                        "vp vp vp vp vp vp vp vp vp vp"
                        "road road road road road army army army army army"
                        "road road road road road army army army army army"
                        "pieces pieces pieces pieces pieces pieces pieces pieces pieces pieces"
                        "totalResource totalResource totalResource totalResource totalResource totalResource totalResource totalResource totalResource totalResource"
                        "resource resource resource resource resource resource resource resource resource resource"
                        "resource resource resource resource resource resource resource resource resource resource"
                        ". . . . dc dc . . . ."
                        ". . . . dc dc . . . .";
    align-items: center;
    justify-items: center;
    background-color: var(--player-0-color1);
}

.player-0__name {
    grid-area: name;
}

.player-0__vp {
    grid-area: vp;
}

.player-0__road {
    grid-area: road;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "RoadText RoadImg";
    justify-items: center;
    align-items: center;
}
    .player-0__road--num {
        grid-area: RoadText;
        align-self: right;
    }

    .player-0__road--card {
        grid-area: RoadImg;
    }

.player-0__army {
    grid-area: army;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "ArmyText ArmyImg";
    justify-items: center;
    align-items: center;
}
    .player-0__army--card {
        grid-area: ArmyImg;
    }

    .player-0__army--num {
        grid-area: ArmyText;
        align-self: left;
    }

.player-0__pieces {
    grid-area: pieces;
}

.player-0__resource--num {
    grid-area: totalResource;
}

.player-0__resource {
    grid-area: resource;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 1rem;
    grid-template-rows: 1fr;
    grid-template-areas: "lumber brick wool grain ore";
}

    .player-0__resource__lumber--pic {
        grid-area: lumber;
    }

    .player-0__resource__lumber--num {
        grid-area: lumber;
    }

    .player-0__resource__brick--pic {
        grid-area: brick;
    }

    .player-0__resource__brick--num {
        grid-area: brick;
    }

    .player-0__resource__wool--pic {
        grid-area: wool;
    }

    .player-0__resource__wool--num {
        grid-area: wool;
    }

    .player-0__resource__grain--pic {
        grid-area: grain;
    }

    .player-0__resource__grain--num {
        grid-area: grain;
    }

    .player-0__resource__ore--pic {
        grid-area: ore;
    }

    .player-0__resource__ore--num {
        grid-area: ore;
    }

.player-0__dc {
    grid-area: dc;
}
/********** Player 1 Section **********/
#player-1 {
    grid-area: player-1;
    background-color: var(--player-1-color1);
}

/********** Player 2 Section **********/
#player-2 {
    grid-area: player-2;
    background-color: var(--player-2-color1);
}

/********** Player 3 Section **********/
#player-3 {
    grid-area: player-3;
    background-color: var(--player-3-color1);
}

/********** Cheat Sheet Section **********/
#cheat-sheet {
    grid-area: cheat-sheet;
    background-color: var(--road-color1);
}

/********** Bank Section **********/
#bank {
    grid-area: bank;
    background-color: var(--ocean-color5);
}


/******************************/
/********** Footer **********/
/******************************/
footer {
    height: 10vh;
}